<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Rewrite sentry envelopes" stopProcessing="true">
          <!-- Sentry envelopes contain a DSN that needs to be rewritten -->
          <match url="^api/(.+)/(envelope/)$" />
          <action type="Rewrite" url="proxy.php?project={R:1}&amp;path={R:2}" appendQueryString="true" />
        </rule>
        <rule name="Rewrite or Redirect sentry errors" stopProcessing="true">
          <match url="^api/(.+)/(.+)$" />
          <conditions>
            <add input="{projects:{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Rewrite" url="http://admin.sentry.keyman.com:3000/api/{C:1}/{R:2}" appendQueryString="true" />
        </rule>
        <rule name="Redirect external links for /org/keyman" stopProcessing="true">
          <match url="^organizations/keyman(.+)$" />
          <action type="Redirect" url="https://sentry.io/organizations/keyman{R:1}" appendQueryString="true" />
        </rule>
        <rule name="Redirect external links for /org/bloom" stopProcessing="true">
          <match url="^organizations/bloom(.+)$" />
          <action type="Redirect" url="https://sentry.io/organizations/bloomapp{R:1}" appendQueryString="true" />
        </rule>
      </rules>

      <rewriteMaps>
        <rewriteMap name="projects" defaultValue="">
          <add key="23" value="5983534" /><!-- bloom-desktop -->
          <add key="18" value="5983533" /><!-- bloomlibrary -->
          <add key="21" value="5983532" /><!-- fv-android -->
          <add key="19" value="5983531" /><!-- kab-android -->
          <add key="17" value="5983530" /><!-- s-keyman-com -->
          <add key="16" value="5983529" /><!-- downloads-keyman-com -->
          <add key="15" value="5983528" /><!-- donate-keyman-com -->
          <add key="14" value="5983527" /><!-- developer-keyman-com -->
          <add key="13" value="5983526" /><!-- status-keyman-com -->
          <add key="12" value="5983525" /><!-- keyman-linux -->
          <add key="11" value="5983524" /><!-- keyman-web -->
          <add key="10" value="5983523" /><!-- keymanweb-com -->
          <add key="9" value="5983522" /><!-- keyman-mac -->
          <add key="8" value="5983521" /><!-- keyman-ios -->
          <add key="7" value="5983520" /><!-- keyman-android -->
          <add key="6" value="5983519" /><!-- keyman-developer -->
          <add key="5" value="5983518" /><!-- keyman-windows -->
          <add key="4" value="5983517" /><!-- api-keyman-com -->
          <add key="3" value="5983516" /><!-- keyman-com -->
          <add key="2" value="5983515" /><!-- help-keyman-com -->
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
</configuration>